<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golaxy.machine.mapper.ApplyMapper">

    <!--根据主键ID查询申请记录详情信息-->
    <select id="findOneById" parameterType="java.lang.String" resultType="com.golaxy.machine.common.entity.ServerApplyInfo">
        SELECT *
        FROM sys_apply s
        WHERE s.id = #{id} and s.delflag = 0
    </select>

    <!--按照条件查询申请记录列表-->
    <select id="queryList" parameterType="java.util.Map" resultType="com.golaxy.machine.common.entity.ServerApplyInfo">
        SELECT *
        FROM sys_apply
        <where>
            1=1
            <if test="servername != null and servername !=''" >
                and servername = #{servername},
            </if>
            <if test="serverip != null and serverip !=''" >
                and serverip = #{serverip},
            </if>
            <if test="usetype != null and usetype !=''" >
                and usetype = #{usetype},
            </if>
            <if test="isused != null and isused !=''" >
                and isused = #{}isused
            </if>
            and delflag = 0
        </where>
    </select>

    <!--新增申请记录信息-->
    <insert id="insertApply" parameterType="java.util.Map">
        insert into sys_apply
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id !=''" >
                id,
            </if>
            <if test="servername != null and servername !=''" >
                servername,
            </if>
            <if test="serverip != null and serverip !=''" >
                serverip,
            </if>
            <if test="applyuserid != null and applyuserid !=''" >
                applyuserid,
            </if>
            <if test="applyuser != null and applyuser !=''">
                applyuser,
            </if>
            <if test="applyorg != null and applyorg !=''">
                applyorg,
            </if>
            <if test="upstatus != null">
                upstatus,
            </if>
            <if test="uptime != null" >
                uptime,
            </if>
            <if test="email != null and email !=''" >
                email,
            </if>
            <if test="applytype != null">
                applytype,
            </if>
            <if test="applyremark != null and applyremark !=''" >
                applyremark,
            </if>
            <if test="howlong != null" >
                howlong,
            </if>
            <if test="applyvolume != null and applyvolume !=''" >
                applyvolume
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id !=''" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="servername != null and servername !=''" >
                #{servername,jdbcType=VARCHAR},
            </if>
            <if test="serverip != null and serverip !=''" >
                #{serverip,jdbcType=VARCHAR},
            </if>
            <if test="applyuserid != null and applyuserid !=''" >
                #{applyuserid,jdbcType=VARCHAR},
            </if>
            <if test="applyuser != null and applyuser !=''">
                #{applyuser,jdbcType=VARCHAR},
            </if>
            <if test="applyorg != null and applyorg !=''">
                #{applyorg,jdbcType=VARCHAR},
            </if>
            <if test="upstatus != null">
                #{upstatus,jdbcType=INTEGER},
            </if>
            <if test="uptime != null" >
                #{uptime,jdbcType=TIMESTAMP},
            </if>
            <if test="email != null and email !=''" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="applytype != null">
                #{applytype,jdbcType=INTEGER},
            </if>
            <if test="applyremark != null and applyremark !=''" >
                #{applyremark,jdbcType=VARCHAR},
            </if>
            <if test="howlong != null" >
                #{howlong,jdbcType=INTEGER},
            </if>
            <if test="applyvolume != null and applyvolume !=''" >
                #{applyvolume,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <!--更新申请记录-->
    <update id="updateApply" parameterType="java.util.Map">
        update sys_apply
        <set>
            <if test="servername != null and servername !=''" >
                servername =  #{servername,jdbcType=VARCHAR},
            </if>
            <if test="serverip != null and serverip !=''" >
                serverip = #{serverip,jdbcType=VARCHAR},
            </if>
            <if test="applyuserid != null and applyuserid !=''" >
                applyuserid = #{applyuserid,jdbcType=VARCHAR},
            </if>
            <if test="applyuser != null and applyuser !=''">
                applyuser = #{applyuser,jdbcType=VARCHAR},
            </if>
            <if test="applyorg != null and applyorg !=''">
                applyorg = #{applyorg,jdbcType=VARCHAR},
            </if>
            <if test="upstatus != null">
                upstatus = #{upstatus,jdbcType=INTEGER},
            </if>
            <if test="uptime != null" >
                uptime = #{uptime,jdbcType=TIMESTAMP},
            </if>
            <if test="email != null and email !=''" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="applytype != null">
                applytype = #{applytype,jdbcType=INTEGER},
            </if>
            <if test="applyremark != null and applyremark !=''" >
                applyremark = #{applyremark,jdbcType=VARCHAR},
            </if>
            <if test="howlong != null" >
                howlong = #{howlong,jdbcType=INTEGER},
            </if>
            <if test="applyvolume != null and applyvolume !=''" >
                applyvolume = #{applyvolume,jdbcType=VARCHAR},
            </if>
            <if test="checkuser != null and checkuser !=''" >
                checkuser = #{checkuser,jdbcType=VARCHAR},
            </if>
            <if test="checktime != null" >
                checktime = #{checktime,jdbcType=TIMESTAMP},
            </if>
            <if test="checkstatus != null">
                checkstatus = #{checkstatus,jdbcType=INTEGER},
            </if>
            <if test="checkremark != null and checkremark !=''" >
                checkremark = #{checkremark,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--审核申请服务器记录-->
    <update id="checkApply" parameterType="java.util.Map">
        update sys_apply
        <set>
            <if test="checkuser != null and checkuser !=''" >
                checkuser = #{checkuser,jdbcType=VARCHAR},
            </if>
            <if test="checktime != null" >
                checktime = #{checktime,jdbcType=TIMESTAMP},
            </if>
            <if test="checkstatus != null">
                checkstatus = #{checkstatus,jdbcType=INTEGER},
            </if>
            <if test="checkremark != null and checkremark !=''" >
                checkremark = #{checkremark,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--撤销申请服务器记录-->
    <update id="rebackApply" parameterType="java.util.Map">
        update sys_apply
        set upstatus = 2
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--批量删除申请记录信息-->
    <update id="batchDelApply" parameterType="java.util.List">
        update sys_apply
        set delflag = 1
        where id in
        <foreach collection="list" item="arr" index="no" open="("
                 separator="," close=")">
            #{arr}
        </foreach>
    </update>

</mapper>
