<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golaxy.machine.mapper.MenuMapper">

    <!--根据菜单名称查询-->
    <select id="findByName" parameterType="java.lang.String" resultType="com.golaxy.machine.common.entity.MenuInfo">
        SELECT *
        FROM sys_item u
        WHERE u.menuname=#{menuname} and u.delflag = 0
    </select>

    <!--根据菜单编码查询-->
    <select id="findByCode" parameterType="java.lang.String" resultType="com.golaxy.machine.common.entity.MenuInfo">
        SELECT *
        FROM sys_item u
        WHERE u.menucode=#{menucode} and u.delflag = 0
    </select>

    <!--根据主键查询菜单-->
    <select id="findById" parameterType="java.lang.String" resultType="com.golaxy.machine.common.entity.MenuInfo">
        SELECT *
        FROM sys_item u
        WHERE u.id=#{id} and u.delflag = 0
    </select>

    <!--查询菜单列表-->
    <select id="findList" resultType="com.golaxy.machine.common.entity.MenuInfoChild" parameterType="map">
        SELECT  *  from sys_item where delflag = 0
        <if test="menuname != null and menuname !=''">
            and menuname like '%'||#{menuname}||'%'
        </if>
        order by menuorder
    </select>

    <!--根据ids集合查询所有的菜单-->
    <select id="findListByIds" parameterType="java.util.List" resultType="com.golaxy.machine.common.entity.MenuInfoChild">
        select * from sys_item where delflag = 0 and id in
        <foreach collection="list" item="arr" index="no" open="("
                 separator="," close=")">
            #{arr}
        </foreach>
    </select>

    <!--条件查询菜单列表-->
    <select id="queryList" parameterType="java.util.Map" resultType="com.golaxy.machine.common.entity.MenuInfo">
        SELECT
        any_value ( id ) as id,
        parentid,
        any_value ( menuname) as menuname,
        any_value ( menucode ) as menucode,
        any_value ( menuurl) as menuurl,
        any_value ( menutype ) as menutype,
        menuorder ,
        any_value ( createtime ) as createtime,
        any_value ( createuser ) as createuser,
        any_value ( updatetime ) as updatetime,
        any_value ( updateuser ) as updateuser,
        any_value ( remark ) as remark,
        any_value ( delflag ) as delflag
        FROM
        sys_item
        <where>
            1=1
            <if test="menuname != null and menuname !=''" >
                and menuname = #{menuname}
            </if>
            <if test="menucode != null and menucode !=''" >
                and menucode = #{menucode}
            </if>
            <if test="menutype != null" >
                and menutype = #{menutype}
            </if>
            and delflag = 0
            GROUP BY parentid,menuorder
            ORDER BY parentid,menuorder
        </where>
    </select>

    <!--新增菜单-->
    <insert id="insertMenu" parameterType="java.util.Map">
        insert into sys_item
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id !=''" >
                id,
            </if>
            <if test="menuname != null and menuname !=''" >
                menuname,
            </if>
            <if test="parentid != null and parentid !=''" >
                parentid,
            </if>
            <if test="menucode != null and menucode !=''" >
                menucode,
            </if>
            <if test="menuurl != null and menuurl !=''">
                menuurl,
            </if>
            <if test="menutype != null">
                menutype,
            </if>
            <if test="menuorder != null">
                menuorder,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
            <if test="createuser != null and createuser !=''" >
                createuser,
            </if>
            <if test="remark != null and remark !=''" >
                remark
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id !=''" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="menuname != null and menuname !=''" >
                #{menuname,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null and parentid !=''" >
                #{parentid,jdbcType=VARCHAR},
            </if>
            <if test="menucode != null and menucode !=''" >
                #{menucode,jdbcType=VARCHAR},
            </if>
            <if test="menuurl != null and menuurl !=''">
                #{menuurl,jdbcType=VARCHAR},
            </if>
            <if test="menutype != null">
                #{menutype,jdbcType=INTEGER},
            </if>
            <if test="menuorder != null">
                #{menuorder,jdbcType=INTEGER},
            </if>
            <if test="createtime != null" >
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="createuser != null and createuser !=''" >
                #{createuser,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark !=''" >
                #{remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <!--更新菜单-->
    <update id="updateMenu" parameterType="java.util.Map">
        update sys_item
        <set>
            <if test="menuname != null and menuname !=''" >
                menuname = #{menuname,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null and parentid !=''" >
                parentid = #{parentid,jdbcType=VARCHAR},
            </if>
            <if test="menucode != null and menucode !=''" >
                menucode = #{menucode,jdbcType=VARCHAR},
            </if>
            <if test="menuurl != null and menuurl !=''">
                menuurl = #{menuurl,jdbcType=VARCHAR},
            </if>
            <if test="menutype != null">
                menutype = #{menutype,jdbcType=INTEGER},
            </if>
            <if test="menuorder != null">
                menuorder = #{menuorder,jdbcType=INTEGER},
            </if>
            <if test="updatetime != null" >
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateuser != null and updateuser !=''" >
                updateuser = #{updateuser,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark !=''" >
                remark = #{remark,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--批量删除用户信息-->
    <update id="batchDelMenu" parameterType="java.util.List">
        update sys_item
        set delflag = 1
        where id in
        <foreach collection="list" item="arr" index="no" open="("
                 separator="," close=")">
            #{arr}
        </foreach>
    </update>

</mapper>
