<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golaxy.machine.mapper.RoleMapper">

    <!--根据主键ID-->
    <select id="findById" parameterType="java.lang.String" resultType="com.golaxy.machine.common.entity.RoleInfo">
        SELECT *
        FROM sys_role u
        WHERE u.id=#{id} and u.delflag='0'
    </select>

    <!--根据角色名-->
    <select id="findByName" parameterType="java.lang.String" resultType="com.golaxy.machine.common.entity.RoleInfo">
        SELECT *
        FROM sys_role u
        WHERE u.rolename=#{rolename} and u.delflag='0'
    </select>

    <!--根据角色编码-->
    <select id="findByCode" parameterType="java.lang.String" resultType="com.golaxy.machine.common.entity.RoleInfo">
        SELECT *
        FROM sys_role u
        WHERE u.rolecode=#{rolecode} and u.delflag='0'
    </select>

    <!--条件查询角色列表-->
    <select id="queryList" parameterType="java.util.Map" resultType="com.golaxy.machine.common.entity.RoleInfo">
        select * from sys_role
        <where>
            1=1
            <if test="rolename != null and rolename !=''" >
                and rolename = #{rolename}
            </if>
            <if test="rolecode != null and rolecode !=''" >
                and rolecode = #{rolecode}
            </if>
            <if test="rolestatus != null" >
                and rolestatus = #{rolestatus}
            </if>
            and delflag = 0 order by roleorder asc
        </where>
    </select>

    <!--新增角色-->
    <insert id="insertRole" parameterType="java.util.Map">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id !=''" >
                id,
            </if>
            <if test="rolename != null and rolename !=''" >
                rolename,
            </if>
            <if test="rolecode != null and rolecode !=''" >
                rolecode,
            </if>
            <if test="rolestatus != null" >
                rolestatus,
            </if>
            <if test="roleorder != null" >
                roleorder,
            </if>
            <if test="remark != null and remark !=''" >
                remark,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
            <if test="createuser != null and createuser !=''" >
                createuser
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id !=''" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="rolename != null and rolename !=''" >
                #{rolename,jdbcType=VARCHAR},
            </if>
            <if test="rolecode != null and rolecode !=''" >
                #{rolecode,jdbcType=VARCHAR},
            </if>
            <if test="rolestatus != null" >
                #{rolestatus,jdbcType=INTEGER},
            </if>
            <if test="roleorder != null" >
                #{roleorder,jdbcType=INTEGER},
            </if>
            <if test="remark != null and remark !=''" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null" >
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="createuser != null and createuser !=''" >
                #{createuser,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <!--更新角色-->
    <update id="updatetRole" parameterType="java.util.Map">
        update sys_role
        <set>
            <if test="rolename != null and rolename !=''" >
                rolename = #{rolename,jdbcType=VARCHAR},
            </if>
            <if test="rolecode != null and rolecode !=''" >
                rolecode = #{rolecode,jdbcType=VARCHAR},
            </if>
            <if test="rolestatus != null" >
                rolestatus = #{rolestatus,jdbcType=INTEGER},
            </if>
            <if test="roleorder != null" >
                roleorder = #{roleorder,jdbcType=INTEGER},
            </if>
            <if test="remark != null and remark !=''" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null" >
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateuser != null and updateuser !=''" >
                updateuser = #{updateuser,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--删除用户信息-->
    <update id="delRole" parameterType="java.lang.String">
        update sys_role
        set delflag = 1
        where id = #{roleId}
    </update>

    <!--删除用户所有绑定角色-->
    <delete id="delUserAllRole" parameterType="java.lang.String">
        delete from sys_user_role where userid = #{userId}
    </delete>

    <!--为用户绑定角色-->
    <insert id="insertUserRole" parameterType="java.util.Map">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id !=''" >
                id,
            </if>
            <if test="rolecode != null and rolecode !=''" >
                rolecode,
            </if>
            <if test="userid != null and userid !=''" >
                userid
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id !=''" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="rolecode != null and rolecode !=''" >
                #{rolecode,jdbcType=VARCHAR},
            </if>
            <if test="userid != null and userid !=''" >
                #{userid,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <!--为角色绑定菜单-->
    <insert id="insertRoleMenu" parameterType="java.util.Map">
        insert into sys_role_item
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id !=''" >
                id,
            </if>
            <if test="rolecode != null and rolecode !=''" >
                rolecode,
            </if>
            <if test="menuid != null and menuid !=''" >
                menuid
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id !=''" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="rolecode != null and rolecode !=''" >
                #{rolecode,jdbcType=VARCHAR},
            </if>
            <if test="menuid != null and menuid !=''" >
                #{menuid,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <!--删除角色对应的所有菜单-->
    <delete id="delUserAllMenu" parameterType="java.lang.String">
        delete from sys_role_item where rolecode = #{rolecode}
    </delete>

    <!--获取该用户所有的权限集合-->
    <select id="getUserRole" parameterType="java.lang.String" resultType="java.lang.String">
        select rolecode from sys_user_role where userid = #{userId}
    </select>

    <!--根据角色code集合查询该用户所有的菜单集合-->
    <select id="getUserMenu" parameterType="java.util.List" resultType="com.golaxy.machine.common.entity.MenuInfo">
        select st.* from sys_item st, sys_role_item srt where rolecode in
        <foreach collection="list" item="arr" index="no" open="("
                 separator="," close=")">
            #{arr}
        </foreach>
        and st.id = srt.menuid and st.delflag = 0
    </select>

</mapper>
